/* HEADER=SECTION=START */
.call_div span {
    color: #E82B4B;
}

.navbar {
    background-color: #000000!important;
}

.container-xxl {
    /* max-width: 1620px !important; */
    color:  #fff;

}

/* HEADER=SECTION=END */